//   @media screen and (min-width: 736px){

//   }
//   @media screen and (min-width: 1248px){

//   }

.fresh {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $background-color;
  color: $text-color;

  &__title {
    color: #fff;
    text-align: center;
    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.28px;
    text-transform: uppercase;
    position: absolute;
order: 3;

    @media screen and (min-width: 736px) {
      font-size: 54px;
      line-height: 54px;
      letter-spacing: -2.16px;
    //   width: 335px;
    }
    @media screen and (min-width: 1248px) {
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -2.56px;
    }
  }

  //=========================================

  &__images {
    list-style: none;
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
  }

  &__image {
    border-radius: 20px;
  }

  &__blueberries {
    display: none;
    @media screen and (min-width: 736px) {
      display: flex;
    }
  }

  //=========================================

  &__specification {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  //====
  &__description {
    display: none;
    @media screen and (min-width: 736px) {
      display: flex;
      color: #fff;

      text-align: center;
      text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
      font-family: 'DM Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; 
      letter-spacing: -0.56px;
    }
  }

  //================
  &__form {

    display: none;
  @media screen and (min-width: 736px){
    display: flex; 
    border-radius: 100px;
border: 1px solid #FFF;

 overflow: hidden;
 margin: 80px;
   }
  }

  &__input {
    display: none;
    @media screen and (min-width: 736px) {
                  display: flex;
          border-radius: 100px;
border: none;
    //   opacity: 0.3

    background: $background-color;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: 736px) {
      display: inline-flex;
      padding: 15px 35px;
      align-items: center;
border-radius: 100px;
background: #9DC162;
border: #9DC162;
border: none;
//текст
color: #FFF;

font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;

color: #FFF;

font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
text-transform: capitalize;
    }
  }
}
