.hero {
  padding-top: 56px;
  @media screen and (min-width: 736px) {
    padding-top: 64px;
    padding-bottom: 137px;
  }
  @media screen and (min-width: 1248px) {
    padding-bottom: 150px;
    padding-top: 150px;
  }

  & > .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1248px) {
      flex-direction: row;
    }
  }
  &__title {
    color: $text-color;
    text-align: center;
    text-shadow: 0px 4px 70px $title-color;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    width: 335px;
    z-index: 3;
    position: absolute;

    @media screen and (min-width: 736px) {
      font-size: 50px;
      letter-spacing: -2px;
      width: 640px;
    }
    @media screen and (min-width: 1248px) {
      font-size: 64px;
      letter-spacing: -2.56px;
      width: 800px;
      position: absolute;
      top: 110px;
      right: 300px;
    }
  }
  &__position {
    position: relative;
    z-index: 1;
    top: 0px;
    left: 130px;

    @media screen and (min-width: 736px) {
      top: -20px;
      left: 270px;
    }
    @media screen and (min-width: 1248px) {
      top: -350px;
      left: 890px;
    }
  }
  &__positions {
    position: relative;
    z-index: 1;
    transform: rotate(-5deg);
    bottom: 23px;
    right: 130px;
    // @media screen and (min-width: 355px) {
    //   bottom: 23px;
    //   right: 130px;
    // }
    @media screen and (min-width: 736px) {
      bottom: 60px;
      right: 265px;
    }
    @media screen and (min-width: 1248px) {
      bottom: 180px;
      right: -55px;
    }
  }
  &__picture {
    border-radius: 500px;
    border: none;
    flex-shrink: 0;
    width: 335px;
    height: 509px;
    flex-shrink: 0;

    @media screen and (min-width: 736px) {
      width: 702px;
      height: 1053px;
      flex-shrink: 0;
    }
    @media screen and (min-width: 1248px) {
      width: 502px;
      height: 853px;
      position: relative;
      top: 100px;
    }
  }
  &__button {
    background: $text-color;
    border-radius: 50%;
    border: none;
    width: 80px;
    height: 80px;
    color: $background-color;
    text-align: center;
    text-shadow: 0px 4px 70px $title-color;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.8px;

    padding: 14px, 8px, 14px, 8px;
    text-transform: uppercase;
    transform: rotate(-14deg);
    position: relative;
    top: -48px;

    @media screen and (min-width: 736px) {
      font-size: 28px;
      letter-spacing: -1.12px;
      width: 114px;
      height: 114px;
      flex-shrink: 0;
      top: -68px;
    }
    @media screen and (min-width: 1248px) {
      top: 520px;
      right: 300px;
    }
  }
  &__text {
    color: $text-color;
    text-shadow: 0px 4px 70px $title-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1, 28;
    letter-spacing: -0.56px;
    width: 279px;
    margin-top: 44px;
    margin-bottom: 44px;
    @media screen and (min-width: 736px) {
      margin-top: 79px;
    }
    @media screen and (min-width: 1248px) {
      width: 222px;
      margin-top: 37px;
    }
  }

  &__box {
    border-radius: 500px;
    background: $wrap-color;
    width: 249px;
    height: 387px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__color {
    background: $button-color;
    order: 2;
    @media screen and (min-width: 736px) {
      order: 1;
    }
  }
  &__subtitles {
    color: $text-color;
    text-align: center;
    text-shadow: 0px 4px 70px $title-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 1, 16;
    letter-spacing: -0.48px;
  }
  &__picturees {
    width: 200px;
    height: 172px;
    flex-shrink: 0;
  }
  &__pictures {
    width: 162px;
    height: 185px;
    flex-shrink: 0;
  }
  &__titles {
    color: $text-color;
    text-align: center;
    text-shadow: 0px 4px 70px $title-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    width: 155px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1248px) {
      position: absolute;
      top: 400px;
      left: 150px;
    }
  }

  &__wrappers {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1248px) {
      position: absolute;
      top: 400px;
      right: 150px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 44px;
    width: 266px;
    order: 1;
    @media screen and (min-width: 736px) {
      justify-content: end;
      order: 2;
    }
  }
  &__btn {
    padding: 12px 32px;
    border-radius: 1000px;
    border: 1px solid $text-color;
    background: $background-color;
    color: $text-color;
    text-align: center;
    text-shadow: 0px 4px 70px $title-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.48px;
    text-transform: uppercase;

    &:hover {
      background-color: $text-color;
      color: $background-color;
    }
  }

  &__elem {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 736px) {
      display: flex;
      flex-direction: row;
    }
  }

  // @media screen and (min-width: 1248px) {
  //   justify-content: space-around;
  // }
}
