// .modal{
//      position: fixed;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.5);
// }
.modal{
    background-color:$text-color ;
    position: fixed;
   top: 0;
  left: 0;
  height: 100%;
width: 100%;
 background: rgba(0, 0, 0, 0.5);

 &__btn{
    position: relative; 
top: -60px;
right: -850px;
}

    &__item{
// width: 273px;
// height: 356px;
width: 257px;
height: 308px;
flex-shrink: 0;
border-radius: 20px;
margin-right: 20px;
margin-left: auto;
margin-right: auto;
    }
    &__item:nth-child(1){
 background-color:$strawberry;
    }
     &__item:nth-child(2){
          background-color: $banana;
    }
      &__item:nth-child(3){
         background-color:$lime;
    }

    &__list{
        display: flex;
    }
    &__text{
        margin-top: 40px;
        color:$text-color;
margin-left: 20px;
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 1.16; 
letter-spacing: -0.96px;
    }
    &__plant{
          color:$text-color;
margin-left: 20px;
        font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.28px
    }
 &__img{
 
height: 200px;
    display: block;
 }
&__box{
    opacity: 1;
  width: 891px;
height: 911px;
border-radius: 4px;
background: #FFF;
position:absolute;
top: 60px;
left: 320px;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
transition-property:transform;
transition-duration: 1500ms;
transition-timing-function: ease-in;
transform: scale(1);

}
 &__labet{
display: flex;
 color:$icon-hover;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height:1.16 ;
letter-spacing: 0.12px;
margin-left: 40px;
position: relative;

 }
&__button{
    margin-top: 20px;
    display: flex;
    position: absolute;
}
&__form{

}

&__input{
    // border: none;
    // background-color:$text-color;
      width: 448px;
height: 40px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid rgba(0, 0, 0, 0.2);
display: block;
margin-top: 14px;
margin-bottom: 14px;

padding-left:24px;
width: 360px;
height: 48px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid #000;
opacity: 0.3;

}
&__div{
    display: flex;
}
&__imeg{
    margin-left: auto;
position: relative;
top: -180px;
// left: -20px;
width: 471px;
height: 458px;
display: block;
right:-10px;

}
&__title{
    color:$background-color;
    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 44px; /* 110% */
letter-spacing: -1.6px;
text-transform: uppercase;
margin-top: 40px;
}

&__btn{
padding: 7px 7px 7px 7px;
color:$background-color;
border: none;
background-color: transparent;
}
}
 .is-hidden {
  pointer-events: none;
  opacity: 0;
}