// .modal{
//      position: fixed;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.5);
// }
.modal{
    background-color:$text-color ;
    position: fixed;
   top: 0;
  left: 0;
  height: 100%;
width: 100%;
 background: rgba(0, 0, 0, 0.5);
    &__item{
width: 273px;
height: 356px;
flex-shrink: 0;
border-radius: 20px;
margin-right: 20px;

    }
    &__item:nth-child(1){
 background-color:$strawberry;
    }
     &__item:nth-child(2){
          background-color: $banana;
    }
      &__item:nth-child(3){
         background-color:$lime;
    }

    &__list{
        display: flex;
    }
    &__text{
        margin-top: 40px;
        color:$text-color;
margin-left: 20px;
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 1.16; 
letter-spacing: -0.96px;
    }
    &__plant{
          color:$text-color;
margin-left: 20px;
        font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.28px
    }
 &__img{
 
height: 250px;
    display: block;
 }
&__box{
    opacity: 1;
  width: 891px;
height: 811px;
border-radius: 4px;
background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
transition-property:transform;
transition-duration: 1500ms;
transition-timing-function: ease-in;
transform: scale(1);
}
 &__labet{
display: flex;
 color:$icon-hover;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height:1.16 ;
letter-spacing: 0.12px;
margin-left: 40px;
position: relative;

 }
&__button{
    margin-top: 20px;
    display: flex;
}
&__form{

}

&__input{
    // border: none;
    // background-color:$text-color;
      width: 448px;
height: 40px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid rgba(0, 0, 0, 0.2);
display: block;
margin-top: 14px;
margin-bottom: 14px;

padding-left:24px;
width: 360px;
height: 48px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid #000;
opacity: 0.3;

}
&__coment{
    width: 360px;
height: 145px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #000;
padding: 15px 0px 112px 24px;
opacity: 0.3;


}

}
 .is-hidden {
  pointer-events: none;
  opacity: 0;
}