.order {
  &__title {
    margin-bottom: 14px;
    color: #fff;
    text-align: center;
    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 100% */
    letter-spacing: -1.12px;
    text-transform: uppercase;
  }

  &__text {
    color: #fff;
    text-align: center;
    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    margin-bottom: 44px;
  }

  &__list {
    margin-bottom: 81px;
    @media screen and (max-width: 1247px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    @media screen and (min-width: 1248px) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
  }

  &__item {


display: flex;

    width: 389px;
    height: 128px;
    border-radius: 20px;
    background: #fff;
    padding-top: 40;
    padding-bottom: 40;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;

align-items: center;
gap: 14px;
    @media screen and (min-width: 1248px) {
      border-radius: 20px;
      background: #fff;
      display: flex;
      align-items: center;

    }

  }

  //evrything is correct

  //button and desc:

  //   @media screen and (min-width: 1248px){

  //   }

  //   @media screen and (min-width: 738px){

  //   }

  .order__list {
    .order__item:nth-child(1) .order__button {
      background-color: #ae1332;

      @media screen and (min-width: 1248px) {
        // padding: 17px 42px;
        margin-right: 14px;
      }
    }

    .order__item:nth-child(2) .order__button {
      background-color: #a1c864;
      @media screen and (min-width: 1248px) {
        padding: 17px 18px;
        margin-right: 14px;
      }
    }

    .order__item:nth-child(3) .order__button {
      background-color: #f5ce13;

      @media screen and (min-width: 1248px) {
        padding: 15px 28px;
        margin-right: 14px;
      }
    }
  }

  &__button {
    color: #fff;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.72px;
    border-radius: 200px;
    border: none;
    background: none;

    display: flex;
    width: 136px;
    height: 48px;
    // padding: 15px 42px;
    justify-content: center;
    align-items: center;
  }



  &__desc {
    width: 145px;
    @media screen and (min-width: 738px) {
      width: 199px;
    }
    @media screen and (min-width: 1248px) {
      width: 166px;
      color: #000;

      text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
      font-family: 'DM Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
      letter-spacing: -0.56px;
    }
  }
}
