$background-color:rgba(174, 19, 50, 1);
$text-color:rgba(255, 255, 255, 1);
$wrap-color:rgba(164, 203, 102, 1);
$btn-color:rgba(157, 194, 98, 1);
$button-color:rgba(245, 206, 19, 1);
$icon-hover:rgba(174, 19, 50, 0.1);
$title-color:rgba(0, 0, 0, 1);
$net-color:rgba(20, 20, 20, 1);

