$background-color: rgba(174, 19, 50, 1);
$text-color: rgba(255, 255, 255, 1);
$wrap-color: rgba(164, 203, 102, 1);
$btn-color: rgba(157, 194, 98, 1);
$button-color: rgba(245, 206, 19, 1);
$icon-hover: rgba(174, 19, 50, 0.1);
$title-color: rgba(0, 0, 0, 1);
$net-color: rgba(20, 20, 20, 1);
$strawberry: rgba(248, 118, 107, 1);
$banana: rgba(237, 210, 81, 1);
$lime: rgba(191, 214, 99, 1);
$apple: rgba(233, 63, 41, 1);
$peach: rgba(219, 79, 75, 1);
$plums: rgba(155, 83, 102, 1);
$orange: rgba(244, 127, 76, 1);
$kiwi: rgba(152, 179, 126, 1);
$modal-color: rgba(224, 63, 94, 1);
$elem-color:rgba(0, 0, 0, 0.5);
$element-color:rgba(0, 0, 0, 0.1);
$modal:rgba(0, 0, 0, 0.2);
$m-1-color:rgba(0, 0, 0, 0.12);
$m-2-color:rgba(0, 0, 0, 0.14);