// $accent-color: rgba(33, 150, 243, 1);
// $portfolio-bg: rgba(33, 150, 243, 0.9);
// $logo-color: rgba(0, 0, 0, 1);
// $subtitles-color: rgba(33, 33, 33, 1);
// $text-color: rgba(117, 117, 117, 1);
// $hero-section: rgba(47, 48, 58, 1);
// $background-color: rgba(245, 244, 250, 1);
// $title-color: rgba(255, 255, 255, 1);
// $contact-color: rgba(255, 255, 255, 0.6);
// $border-color: rgba(238, 238, 238, 1);
// $portfolio-color: rgba(236, 236, 236, 1);
// $gradient-color: rgba(47, 48, 58, 0.4);
// $shadow: rgba(0, 0, 0, 0.12);
// $shadow-team: rgba(0, 0, 0, 0.14);
// $shadow-employees: rgba(0, 0, 0, 0.2);
// $button: rgba(0, 0, 0, 0.15);
// $btn-hover: rgba(0, 0, 0, 0.1);
// $btn-portfolio: rgba(0, 0, 0, 0.08);
// $portfolio-item: rgba(0, 0, 0, 0.06);
// $item: rgba(0, 0, 0, 0.16);
// $costomers: rgba(175, 177, 184, 1);
// $footer: rgba(255, 255, 255, 0.1);
// $works-color: rgba(47, 48, 58, 0.8);
// $border-mailing:rgba(255, 255, 255, 0.3);
// $mailing-color:rgba(33, 150, 243, 0);
// $mobile-color:rgba(0, 0, 0, 0.04);
$background-color:rgba(174, 19, 50, 1);
$text-color:rgba(255, 255, 255, 1);
$wrap-color:rgba(164, 203, 102, 1);
$btn-color:rgba(157, 194, 98, 1);
$button-color:rgba(245, 206, 19, 1);
$icon-hover:rgba(174, 19, 50, 0.1);
$title-color:rgba(0, 0, 0, 1);
$net-color:rgba(20, 20, 20, 1);
$strawberry:rgba(248, 118, 107, 1);
$banana:rgba(237, 210, 81, 1);
$lime:rgba(191, 214, 99, 1);
$apple:rgba(233, 63, 41, 1);
$peach:rgba(219, 79, 75, 1);
$plums:rgba(155, 83, 102, 1);
$orange:rgba(244, 127, 76, 1);
$kiwi:rgba(152, 179, 126, 1);
$modal-color:rgba(224, 63, 94, 1);
