<div class="element is-hidden" data-element>
  <div class="element__box">
    <button class="element__btn" type="button" data-element-close>X</button>
    <picture class="element__picture">
      <source
        src="./img/desktop/comp-raspberry@1x.webp 1x , ./img/desktop/comp-raspberry@2x.webp 2x"
        media="(min-width: 1200px)" />
      <source
        src="./img/tablet/tab-raspberry@1x.webp 1x , ./img/tablet/tab-raspberry@2x.webp 2x"
        media="(min-width: 768px)" />
      <source
        src="./img/mobile/tell-raspberry@1x.webp 1x , ./img/mobile/tell-raspberry@2x.webp 2x"
        media="(max-width: 767px)" />
      <img
        src="./img/desktop/comp-raspberry@1x.webp"
        alt=""
        class="element__img"
        loading="lazy"
    /></picture>
    <h1 class="element__title">THANK YOU</h1>
    <p class="element__text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
