<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__elem">

      <picture>
        <source srcset="./img/desktop/pink-desktop@1x.webp 1x,./img/desktop/pink-desktop@2x.webp 2x" media="(min-width:1248px)">
        <source srcset="./img/tablet/pink-tablet@1x.webp 1x,./img/tablet/pink-tablet@2x.webp 2x" media="(min-width:736px)">
        <source srcset="./img/mobile/pink-mobile@1x.webp 1x,./img/mobile/pink-mobile@2x.webp 2x" media="(max-width:765px)">
        <img src="./img/desktop/pink-desktop@1x.webp" alt="" class="footer__picture">
      </picture>

     <a href="./header.html" class="footer__logo">
      <svg class="footer__icon">
        <use href="./img/symbol-defs.svg#icon-vector"></use>
      </svg>
      <h2 class="footer__links">fresh harvest box</h2>
      </a>
      </div>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="./order.html" class="footer__sec"> How It Works</a>
        </li>
        <li class="footer__item">
          <a href="./organic.html" class="footer__sec">Fruits</a>
        </li>
        <li class="footer__item">
          <a href="./footer.html" class="footer__sec">Contacts</a>
        </li>
      </ul>

      </div>


      <div class="footer__wrapper">
      <ul class="footer__items">
        <li class="footer__element">
          <a
            href="https://www.facebook.com/?locale=ru_RU"
            class="footer__network"
          >
        <svg class="footer__icons"> <use href="./img/symbol-defs.svg#icon-facebook"></use></svg></a>
        </li>
        <li class="footer__element">
          <a href="https://www.instagram.com/" class="footer__network"><svg class="footer__icons"> <use href="./img/symbol-defs.svg#icon-instagram"></use></svg></a>
        </li>
        <li class="footer__element">
          <a
            href="https://www.youtube.com/?app=desktop&hl=ru"
            class="footer__network"
          ><svg class="footer__icons"> <use href="./img/symbol-defs.svg#icon-youtube"></use></svg></a>
        </li>
        </ul>
        <ul class="footer__contacts">
          <li class="footer__items">
            <a href="tel:+380(68)4439426" class="footer__contact"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer__items">
            <a
              href="https://www.google.com/maps?sca_esv=d4acbba8fa1ce30c&biw=1536&bih=703&output=search&q=1678+S.+Pioneer+Road+Salt+Lake+City+UT+84104&source=lnms&fbs=AIIjpHw-oMPsWpczgEcAXjZj4N6Y10KItsR0lBaHfEfADxpB_jujGPM-IIgq16T9rgKkSqBfS3C0ZPLTn0S41ysi0QihuA1DEcBUAzRGvlGOJcYKdzkbx_UCtaFI65Pz_TNAdnW-LEkb54Sk9z0OXmiVGbSP_SAvxXgOyvncxWGoDH-BbG2AadHkHHidte8xQZ59eJyO7iFt4d2HDjVwNXQSSQoY3ZL-GyqtNoCZwAcqb0CQMkwxIm8XxHeH1wGP4cfhYCTqv_EzeEjAaOBbb1swUS2pqOjBnQ&entry=mc&ved=1t:200715&ictx=111"
              class="footer__contact"
            >1678 S. Pioneer Road<br>Salt Lake City <br> UT 
84104</a>
          </li>
        </ul>
      </div>
    
  </div>
</footer>
