<footer class="footer">
  <div class="container">
    <a href="" class="footer-link">
      <picture>
        <source srcset="../img/desktop/pink-desktop@1x.webp 1x,../img/desktop/pink-desktop@2x.webp 2x" media="(min-width:1200px)">
        <source srcset="../img/tablet/pink-tablet@1x.webp 1x,../img/tablet/pink-tablet@2x.webp 2x" media="(min-width:720px)">
        <source srcset="../img/mobile/pink-mobile@1x.webp 1x,../img/mobile/pink-mobile@2x.webp 2x" media="(min-width:480px)">
      </picture>
      <h2 class="footer-title">fresh harvest box</h2>
      <ul class="footer-list">
        <li class="footer-item">
          <a href="./order.html" class="footer-sec"> How It Works</a>
        </li>
        <li class="footer-item">
          <a href="./organic.html" class="footer-sec">Fruits</a>
        </li>
        <li class="footer-item">
          <a href="./footer.html" class="footer-sec">Contacts</a>
        </li>
      </ul>
      <ul class="footer-items">
        <li class="footer-element">
          <a
            href="https://www.facebook.com/?locale=ru_RU"
            class="footer-network"
          ></a>
        </li>
        <li class="footer-element">
          <a href="https://www.instagram.com/" class="footer-network"></a>
        </li>
        <li class="footer-element">
          <a
            href="https://www.youtube.com/?app=desktop&hl=ru"
            class="footer-network"
          ></a>
        </li>
        <ul class="footer-contacts">
          <li class="footer-items">
            <a href="tel:+380(68)4439426" class="footer-contact"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-items">
            <a
              href="https://www.google.com/maps?sca_esv=d4acbba8fa1ce30c&biw=1536&bih=703&output=search&q=1678+S.+Pioneer+Road+Salt+Lake+City+UT+84104&source=lnms&fbs=AIIjpHw-oMPsWpczgEcAXjZj4N6Y10KItsR0lBaHfEfADxpB_jujGPM-IIgq16T9rgKkSqBfS3C0ZPLTn0S41ysi0QihuA1DEcBUAzRGvlGOJcYKdzkbx_UCtaFI65Pz_TNAdnW-LEkb54Sk9z0OXmiVGbSP_SAvxXgOyvncxWGoDH-BbG2AadHkHHidte8xQZ59eJyO7iFt4d2HDjVwNXQSSQoY3ZL-GyqtNoCZwAcqb0CQMkwxIm8XxHeH1wGP4cfhYCTqv_EzeEjAaOBbb1swUS2pqOjBnQ&entry=mc&ved=1t:200715&ictx=111"
              class="footer-contact"
            >1678 S. Pioneer Road Salt Lake City UT 
84104</a>
          </li>
        </ul>
      </ul>
    </a>
  </div>
</footer>
