<section class="fresh" id="fresh">
    <div class="container fresh__box">
            <h1 class="fresh__title">FRESH HARVEST BOX HAS<br>GOT YOU COVERED</h1>

            <ul class="fresh__images">
            <li class="fresh__melon">
                <picture class="fresh__picture">
                    <source srcset="./img/desktop/melon-desktop@1x.webp 1x, ./img/desktop/melon-desktop@2x.webp 2x"
                        media="(min-width:1248px)">
                    <source srcset="./img/tablet/melon-tablet@1x.webp 1x, ./img/tablet/melon-tablet@2x.webp 2x"
                        media="(min-width:736px)">
                    <source srcset="./img/mobile/melon-mobile@1x.webp 1x, ./img/mobile/melon-mobile@2x.webp 2x"
                        media="(min-width:355px)">
                    <img src="./img/desktop/melon-desktop@1x.webp" class="fresh__image" alt="melon" loading="lazy">
                </picture>
            </li>
            <li class="fresh__blueberries">
                <picture>
                    <source
                        srcset="./img/desktop/blueberry-desktop@1x.webp 1x, ./img/desktop/blueberry-desktop@2x.webp 2x"
                        media="(min-width:1248px)">
                    <source srcset="./img/tablet/blueberry-tablet@1x.webp 1x, ./img/tablet/blueberry-tablet@2x.webp 2x"
                        media="(min-width:736px)">
                    <img src="./img/desktop/blueberry-desktop@1x.webp" class="fresh__image " alt="melon" loading="lazy">
                </picture>
            </li>
            </ul>

            <div class="fresh__specification">
            <p class="fresh__description">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for<br>anyone looking to eat
                healthier or support local farmers. Order your box today and start<br>enjoying the best that nature has to
                offer!</p>
        
            <form action="" class="fresh__form">
            <input type="email" placeholder="Enter email..." class="fresh__input" >
            <button class="fresh__button" type="button" data-element-open>Send</button>
            </form>
</div>
    </div>   
</section>