<header>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="">How It Works</a>
                </li>
                <li>
                    <a href="">Fruits</a>
                </li>
                <li>
                    <a href="">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

<a href=""><a href="./header.html" class="">
    <svg class="header-logo">
                <!-- <use href=""></use> -->
              </svg>FRESH HARVEST BOX</a>
        </a>
       </div> 
</header>