<header class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link">How It Works</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Fruits</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Contacts</a>
        </li>
      </ul>

      <div class="header__logo">
      <svg class="header__icon">
        <use href="../img/symbol-defs.svg#icon-vector"></use>
      </svg>
      <a href="./header.html" class="header__description">FRESH HARVEST BOX</a>
      </div>

      <a href="#" class="header__baskets">
        <svg class="header__basket">
          <use href="../img/symbol-defs.svg#icon-basket"></use>
        </svg>
      </a>

      <button class="header__btn" type="button" data-menu-open>
        <svg class="header__burger" >
          <use href="../img/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

<div class="menu">

    <div class="menu is-hidden" data-menu>
        <button type="button" class="menu__close" data-menu-close>
                <svg class="menu__cross">
                    <use href="../img/symbol-defs.svg#icon-cross"></use>
                </svg>            
        </button>
        <ul class="menu__list">
            <li>How It Works</li>
            <li>Fruits</li>
            <li>Contacts</li>
            <li>
                <svg class="menu__basket">
                    <use href="../img/symbol-defs.svg#icon-basket"></use>
                </svg>
            </li>
        </ul>
    </div>
</div>
</header>

