<section class="hero">
  <div class="container">
    <h2 class="hero__title">
      fresh harvest box is your 0ne-stop place for a delicious fruit basket
    </h2>
    <img src="" alt="" class="hero__picture" />
    <img src="" alt="" class="hero__picture" />
    <img src="" alt="" class="hero__picture" />
    <div class="hero__box"></div>
    <p class="hero__text">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
    <div class="hero__wrap">
      <h3 class="hero__subtitles">Fruit</h3>
      <img src="" alt="" class="hero__pictures" />
      <p class="hero__text">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>
    <button type="button" class="hero__btn">#organic</button>
    <button type="button" class="hero__btn">#products</button>
    <button type="button" class="hero__btn">#basket</button>
    <button type="button" class="hero__btn">#fruits</button>
    <div class="hero__wrap">
      <h3 class="hero__subtitles">Fruit</h3>
      <img src="" alt="" class="hero__pictures" />
      <p class="hero__text">
       Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a delicious and healthy snack
      </p>
    </div>


  </div>
</section>
