<section
  class="hero"
  id="hero"
  data-aos="fade-down"
  data-aos-offset="500"
  data-aos-delay="500"
  data-aos-once="true"
  data-aos-easing="ease-in-sine"
>
  <div class="container">
    <h2 class="hero__title">
      fresh harvest box<br />
      is your 0ne-stop place for a delicious fruit basket
    </h2>
    <picture>
      <source
        srcset="
          ./img/desktop/strawberry-desktop@1x.webp 1x,
          ./img/desktop/strawberry-desktop@2x.webp 2x
        "
        media="(min-width:1248px)"
      />
      <source
        srcset="
          ./img/tablet/strawberry-tablet@1x.webp 1x,
          ./img/tablet/strawberry-tablet@2x.webp 2x
        "
        media="(min-width:736px)"
      />
      <source
        srcset="
          ./img/mobile/strawberry-mobile@1x.webp 1x,
          ./img/mobile/strawberry-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/desktop/strawberry-desktop@1x.webp"
        alt=""
        class="hero__position"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/desktop/banana-desktop@1x.webp 1x,
          ./img/desktop/banana-desktop@2x.webp 2x
        "
        media="(min-width:1248px)"
      />
      <source
        srcset="
          ./img/tablet/banana-tablet@1x.webp 1x,
          ./img/tablet/banana-tablet@2x.webp 2x
        "
        media="(min-width:736px)"
      />
      <source
        srcset="
          ./img/mobile/banana-mobile@1x.webp 1x,
          ./img/mobile/banana-mobile@2x.webp 2x
        "
        media="(max-width:765px)"
      />
      <img
        src="./img/desktop/banana-desktop@1x.webp"
        alt=""
        class="hero__positions"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/desktop/woman-desktop@1x.webp 1x,
          ./img/desktop/woman-desktop@2x.webp 2x
        "
        media="(min-width:1248px)"
      />
      <source
        srcset="
          ./img/tablet/woman-tablet@1x.webp 1x,
          ./img/tablet/woman-tablet@2x.webp 2x
        "
        media="(min-width:736px)"
      />
      <source
        srcset="
          ./img/mobile/woman-mobile@1x.webp 1x,
          ./img/mobile/woman-mobile@2x.webp 2x
        "
        media="(max-width:765px)"
      />
      <img
        src="./img/mobile/woman-mobile@1x.webp"
        alt=""
        class="hero__picture"
        loading="lazy"
      />
    </picture>
    <button
      type="button"
      class="hero__button animate__animated animate__heartBeat"
      id="qwert"
    >
      shop <br />
      now
    </button>
    <div class="hero__elem">
      <div class="hero__wrapper">
        <p class="hero__text">
          Our expertly curated fruit baskets are made with the freshest, highest
          quality fruits available. Whether you are looking for a healthy snack
          or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>
        <div class="hero__box">
          <h3 class="hero__subtitles">Fruit</h3>
          <picture>
            <source
              srcset="
                ./img/desktop/watermelon-desktop@1x.webp 1x,
                ./img/desktop/watermelon-desktop@2x.webp 2x
              "
              media="(min-width:1248px)"
            />

            <source
              srcset="
                ./img/tablet/watermelon-tablet@1x.webp 1x,
                ./img/tablet/watermelon-tablet@2x.webp 2x
              "
              media="(min-width:736px)"
            />
            <source
              srcset="
                ./img/mobile/watermelon-mobile@1x.webp 1x,
                ./img/mobile/watermelon-mobile@2x.webp 2x
              "
              media="(max-width:765px)"
            />
            <img
              src="/img/mobile/watermelon-mobile@1x.webp"
              alt=""
              class="hero__picturees"
              loading="lazy"
            />
          </picture>
          <p class="hero__titles">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </div>

      <div class="hero__wrappers">
        <div class="hero__box hero__color">
          <h3 class="hero__subtitles">Fruit</h3>
          <picture>
            <source
              srcset="
                ./img/desktop/basket-desktop@1x.webp 1x,
                ./img/desktop/basket-desktop@2x.webp 2x
              "
              media="(min-width:1248px)"
            />
            <source
              srcset="
                ./img/tablet/basket-tablet@1x.webp 1x,
                ./img/tablet/basket-tablet@2x.webp 2x
              "
              media="(min-width:736px)"
            />
            <source
              srcset="
                ./img/mobile/basket-mobile@1x.webp 1x,
                ./img/mobile/basket-mobile@2x.webp 2x
              "
              media="(max-width:765px)"
            />
            <img
              src="/img/mobile/basket-mobile@1x.webp"
              alt=""
              class="hero__pictures"
              loading="lazy"
            />
          </picture>
          <p class="hero__titles">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
        <ul class="hero__list">
          <li class="hero__item">
            <button type="button" class="hero__btn">#organic</button>
          </li>
          <li class="hero__item">
            <button type="button" class="hero__btn">#products</button>
          </li>
          <li class="hero__item">
            <button type="button" class="hero__btn">#basket</button>
          </li>
          <li class="hero__item">
            <button type="button" class="hero__btn">#fruits</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
