<div class="modal is-hidden" data-modal>
  <div class="modal__box">
    <h2 class="modal__title">Your Order</h2>
    <button type="button" class="modal__btn" data-modal-close>X</button>
    <ul class="modal__list">
      <li class="modal__item">
        <h2 class="modal__text">Strawberry Basket</h2>
        <p class="modal__plant">Plant</p>
        <picture class="modal__picture">
          <source
            srcset="
              ./img/desktop/comp-strawberryb@1x.webp 1x,
              ./img/desktop/comp-strawberryb@2x.webp 2x
            "
            media="(min-width:1248px)"
          />
          <source
            srcset="
              ./img/tablet/planhet-strawberryb@1x.webp 1x,
              ./img/tablet/planhet-strawberryb@2x.webp 2x
            "
            media="(min-width:736px)"
          />
          <source
            src="./img/mobile/tell-strawberryb@1x.webp 1x , ./img/mobile/tell-strawberryb@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/desktop/comp-strawberryb@1x.webp"
            alt=""
            class="modal__img"
              loading="lazy"
          />
        </picture>
      </li>
      <li class="modal__item">
        <h2 class="modal__text">Apple Basket</h2>
        <p class="modal__plant">Plant</p>
        <picture class="modal__picture">
          <source
            src="./img/desktop/comp-appleb@1x.webp 1x , ./img/desktop/comp-appleb@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/planhet-apple@1x.webp 1x , ./img/tablet/planhet-apple@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/tell-appleb@1x.webp 1x , ./img/mobile/tell-appleb@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-appleb@1x.webp"
            alt=""
            class="modal__img"
              loading="lazy"
        /></picture>
      </li>
      <li class="modal__item">
        <h2 class="modal__text">Fruits Basket</h2>
        <p class="modal__plant">Plant</p>
        <picture class="modal__picture">
          <source
            src="./img/desktop/comp-fruitsb@1x.webp 1x , ./img/desktop/comp-fruitsb@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/planhet-fruitsb@1x.webp 1x , ./img/tablet/planhet-fruitsb@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/tell-fruitsb@1x.webp 1x , ./img/mobile/tell-fruitsb@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-fruitsb@1x.webp"
            alt=""
            class="modal__img"
              loading="lazy"
        /></picture>
      </li>
    </ul>
    <form class="modal__form">
      <label class="modal__labet" for="user-name"
        ><input
          type="text"
          class="modal__input"
          id="user-name"
          required
          placeholder="Enter full name..." /></label
      ><label class="modal__labet" for="user-email"
        ><input
          class="modal__input"
          id="user-email"
          type="email"
          required
          placeholder="Enter email..." /></label
      ><label class="modal__labet"
        ><input
          type="text"
          class="modal__input"
          required
          placeholder="Enter card.." /></label
      ><label class="modal__labet" for="user-comment">
        <textarea
          class="modal__input"
          placeholder="Enter comments..."
          id="user-comment"
        ></textarea>
      </label>
    </form>
    <div class="modal__div">
      <nav class="modal__but">
      <button type="submit" class="modal__button">Submit</button>
      </nav>
      <picture class="modal__imeg">
        <source
          src="./img/desktop/comp-girl@1x.webp 1x , ./img/desktop/comp-girl@2x.webp 2x"
          media="(min-width: 1200px)"
        />
        <source
          src="./img/tablet/planhet-girl@1x.webp 1x , ./img/tablet/planhet-girl@2x.webp 2x"
          media="(min-width: 768px)"
        />
        <source
          src="./img/mobile/tell-girl@1x.webp 1x , ./img/mobile/tell-girl@2x.webp 2x"
          media="(max-width: 767px)"
        />
        <img src="./img/desktop/comp-girl@1x.webp" alt="" class="modal__imeg"   loading="lazy" />
      </picture>
    </div>
    <p></p>
  </div>
</div>
