<section class="modal">
  <h2 class="modal__title"></h2>
  <button type="button" class="modal__btn"></button>
  <ul class="modal__list">
    <li class="modal__item">
      <h3 class="modal__subtitle"></h3>
      <p class="modal__text"></p>
      <picture class="modal__picture">
        <source srcset="../img/desktop/comp-strawberryb@1x.webp 1x,../img/desktop/comp-strawberryb@2x.webp 2x" media="(min-width:1248px)"/>
    <source srcset="../img/tablet/planhet-strawberryb@1x.webp 1x,../img/tablet/planhet-strawberryb@2x.webp 2x" media="(min-width:736px)" />

    <img src="../img/desktop/comp-strawberryb@1x.webp" alt="" />
      </picture>
    </li>
    <li class="modal__item">
      <h3 class="modal__subtitle"></h3>
      <p class="modal__text"></p>
      <picture class="modal__picture">
        <source />
        <source />
        <img src="../img/desktop/comp-plums@1x.webp" alt="" class="modal__pictures"
      /></picture>
    </li>
    <li class="modal__item">
      <h3 class="modal__subtitle"></h3>
      <p class="modal__text"></p>
      <picture class="modal__picture">
        <source />
        <source />
        <source />
        <img src="" alt="" class="modal__pictures"
      /></picture>
    </li>
  </ul>
  <form class="modal__form">
    <label class="modal__labet" for="user-name"
      ><input
        type="text"
        class="modal__input"
        id="user-name"
        required
        placeholder="Enter full name..." /></label
    ><label class="modal__labet" for="user-email"
      ><input
        class="modal__input"
        id="user-email"
        type="email"
        required
        placeholder="Enter email..." /></label
    ><label class="modal__labet"
      ><input
        type="text"
        class="modal__input"
        required
        placeholder="Enter card.." /></label
    ><label class="modal__label" for="user-comment">
      <textarea
        class="modal__coment"
        placeholder="Enter comments..."
        id="user-comment"
      ></textarea>
    </label>
    <button type="submit" class="modal__button">Submit</button>
  </form>
  <picture class="modal__picture">
    
    <source />
        <source />
        <source />
        <img src="" alt="" class="modal__pictures"
      />
  </picture>
</section>
