<section class="order" id="order" >
  <div class="container">
    <h1 class="order__title"  data-aos="fade-down"
         data-aos-offset="100"
     data-aos-delay="100"
     data-aos-once="true"
     data-aos-easing="ease-in-sine">
      To order your fruit basket, simply follow these easy steps
    </h1>
    <p class="order__text"  data-aos="fade-down"
         data-aos-offset="100"
     data-aos-delay="100"
     data-aos-once="true"
     data-aos-easing="ease-in-sine"
    >
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>

    <ul class="order__list"  data-aos="fade-right"
    data-aos-offset="100"
     data-aos-delay="100"
     data-aos-once="true"
     data-aos-easing="ease-in-sine">
      <li class="order__item">
        <button class="order__button">First Step</button>
        <p class="order__desc">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="order__item">
        <button class="order__button">Second Step</button>
        <p class="order__desc">Click on the basket and fill out the form.</p>
      </li>
      <li class="order__item">
        <button class="order__button">Third Step</button>
        <p class="order__desc">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>

    <picture>
      <source src="./img/desktop/berries-desktop.webp" media="(min-width: 1200px)" />
      <source src="./img/tablet/berries-tablet.webp" media="(min-width: 768px)" />
      <source src="./img/mobile/berries-mobile.webp" media="(max-width: 767px)" />
      <img
        src="./img/desktop/berries-desktop.webp"
        class="order__picture"
        loading="lazy"
        alt="Fruit Basket"
        data-aos="fade-up" 
        data-aos-offset="100"
     data-aos-delay="100"
     data-aos-once="true"
     data-aos-easing="ease-in-sine" />
    </picture>
  </div>
</section>

