<section class="organio">
  <div class="container">
    <h1 class="organio__subject">RGANIC fRUITS</h1>
    <p class="organio__lead">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="organio__list">
      <li class="organio__item">
        <h2 class="organio__text">Strawberry</h2>
        <p class="organio__plant">Plant</p>

        <picture class="organic__picture">
          <source
            src="./img/desktop/comp-ostrawberry@1x.webp 1x , ../img/desktop/comp-ostrawberry@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/tab-ostrawberry@1x.webp 1x , ../img/tablet/tab-ostrawberry@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/ostrawberry-mobile@1x.webp 1x , ../img/mobile/ostrawberry-mobile@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-ostrawberry@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>
        <div class="organio__btn">
          <button class="organio__uah">100 UAH / kg</button>
        </div>
      </li>

      <li class="organio__item">
        <h2 class="organio__text">Banana</h2>
        <p class="organio__plant">Plant</p>
        <picture class="organic__picture">
          <source
            src="./img/desktop/comp-obanana@1x.webp 1x , ../img/desktop/comp-obanana@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/tab-obanana@1x.webp 1x , ../img/tablet/tab-obanana@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/obanana-mobile@1x.webp 1x , ../img/mobile/obanana-mobile@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-obanana@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>
        <div class="organio__btn">
          <button class="organio__uah">80 UAH / kg</button>
        </div>
      </li>

      <li class="organio__item">
        <h2 class="organio__text">Watermelon</h2>
        <p class="organio__plant">Plant</p>
        <picture class="organic__picture">
          <source
            src="./img/desktop/comp-watermelon@1x.webp 1x , ../img/desktop/comp-watermelon@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/watermelon-tablet@1x.webp 1x , ../img/tablet/watermelon-tablet@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/watermelon-mobile@1x.webp 1x , ../img/mobile/watermelon-mobile@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-watermelon@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>
        <div class="organio__btn">
          <button class="organio__uah">40 UAH / kg</button>
        </div>
      </li>

      <li class="organio__item">
        <h2 class="organio__text">Lime</h2>
        <p class="organio__plant">Plant</p>
        <picture>
          <source
            src="./img/desktop/comp-lime@1x.webp 1x , ../img/desktop/comp-lime@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/lime-tablet@1x.webp 1x , ../img/tablet/lime-tablet@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/lime-mobile@1x.webp 1x , ../img/mobile/lime-mobile@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-lime@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>
        <div class="organio__btn">
          <button class="organio__uah">60 UAH / kg</button>
        </div>
      </li>

      <li class="organio__item">
        <h2 class="organio__text">Apple</h2>
        <p class="organio__plant">Plant</p>
        <picture>
          <source
            src="./img/desktop/comp-apple@1x.webp 1x , ../img/desktop/comp-apple@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/apple-tablet@1x.webp 1x , ../img/tablet/apple-tablet@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/apple-mobile@1x.webp 1x , ../img/mobile/apple-mobile@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-apple@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>
        <div class="organio__btn">
          <button class="organio__uah">50 UAH / kg</button>
        </div>
      </li>

      <li class="organio__item">
        <h2 class="organio__text">Peach</h2>
        <p class="organio__plant">Plant</p>
        <picture>
          <source
            src="./img/desktop/comp-nectarine@1x.webp 1x , ../img/desktop/comp-nectarine@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/tab-nectarine@1x.webp 1x , ../img/tablet/tab-nectarine@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/mobile-nectarine@1x.webp 1x , ../img/mobile/mobile-nectarine@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-nectarine@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>
        <div class="organio__btn">
          <button class="organio__uah">80 UAH / kg</button>
        </div>
      </li>

      <li class="organio__item">
        <h2 class="organio__text">Plums</h2>
        <p class="organio__plant">Plant</p>
        <picture>
          <source
            src="./img/desktop/comp-plum@1x.webp 1x , ../img/desktop/comp-plum@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/plums-tablet@1x.webp 1x , ../img/tablet/plums-tablet@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/plums-mobile@1x.webp 1x , ../img/mobile/plums-mobile@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-plums@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>
        <div class="organio__btn">
          <button class="organio__uah">40 UAH / kg</button>
        </div>
      </li>

      <li class="organio__item">
        <h2 class="organio__text">Orange</h2>
        <p class="organio__plant">Plant</p>
        <picture>
          <source
            src="./img/desktop/comp-orange@1x.webp 1x , ../img/desktop/comp-orange@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source
            src="./img/tablet/orange-tablet@1x.webp 1x , ../img/tablet/orange-tablet@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            src="./img/mobile/orange-mobile@1x.webp 1x , ../img/mobile/orange-mobile@2x.webp 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-orange@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>
        <div class="organio__btn">
          <button class="organio__uah">60 UAH / kg</button>
        </div>
      </li>

      <li class="organio__item">
        <h2 class="organio__text">Kiwi</h2>
        <p class="organio__plant">Plant</p>
        <picture>
          <source
            srcset="
              ./img/desktop/comp-kiwi@1x.webp  1x,
              ../img/desktop/comp-kiwi@2x.webp 2x
            "
            media="(min-width: 1200px)" />
          <source
            srcset="
              ./img/tablet/kiwi-tablet@1x.webp  1x,
              ../img/tablet/kiwi-tablet@2x.webp 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/mobile/kiwi-mobile@1x.webp  1x,
              ../img/mobile/kiwi-mobile@2x.webp 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/desktop/comp-kiwi@1x.webp"
            class="order__img"
            width="260"
            alt=""
        /></picture>

        <div class="organio__btn">
          <button class="organio__uah">90 UAH / kg</button>
        </div>
      </li>
    </ul>
    <div class="organio__bfon">
      <button class="organio__order">
        <svg class="organio__svg">
          <use href="../img/symbol-defs.svg#icon-cross"></use>
        </svg>
      </button>
      <button class="organio__order">ORDER</button>
    </div>
  </div>
</section>
