 <section class="organio">
    <div class="container">
        <h1 class="organio__subject">oRGANIC fRUITS</h1>
<p class="organio__lead">Our organic fruits are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible. We offer a wide selection of organic fruits grown without the use of harmful pesticides or chemicals.</p>
<ul class="organio__list">
    <!-- 1 -->
    <li class="organio__item">
        <h2 class="organio__text"> Strawberry</h2>
        <p class="organio__plant">Plant</p>
        <picture> <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                  <div class="organio__btn">
        <button  class="organio__uah">100 UAH / kg</button>
        </div>
    </li>
    <!-- 2 -->
    <li class="organio__item">
        <h2 class="organio__text">Banana</h2>
        <p class="organio__plant">Plant</p>
        <picture> <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                 <div class="organio__btn">
        <button  class="organio__uah">80 UAH / kg</button>
        </div>
    </li>
    <!-- 3 -->
    <li class="organio__item">
        <h2 class="organio__text">Watermelon</h2>
        <p class="organio__plant">Plant</p>
        <picture>  <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                 <div class="organio__btn">
        <button  class="organio__uah">40 UAH / kg</button>
        </div>
    </li>
    <!-- 4 -->
    <li class="organio__item">
        <h2 class="organio__text">Lime</h2>
        <p class="organio__plant">Plant</p>
        <picture> <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                 <div class="organio__btn">
        <button  class="organio__uah">60 UAH / kg</button>
        </div>
    </li>
    <!-- 5 -->
    <li class="organio__item">
        <h2 class="organio__text">Apple</h2>
        <p class="organio__plant">Plant</p>
        <picture>  <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                  <div class="organio__btn">
        <button  class="organio__uah">50 UAH / kg</button>
        </div>
    </li>
    <!-- 6 -->
    <li class="organio__item">
        <h2 class="organio__text">Peach</h2>
        <p class="organio__plant">Plant</p>
        <picture>  <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                  <div class="organio__btn">
        <button  class="organio__uah">80 UAH / kg</button>
        </div>
    </li>
    <!-- 7 -->
    <li class="organio__item">
        <h2 class="organio__text">Plums</h2>
        <p class="organio__plant">Plant</p>
        <picture>  <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                  <div class="organio__btn">
        <button  class="organio__uah">40 UAH / kg</button>
        </div>
    </li>
    <!-- 8 -->
    <li class="organio__item">
        <h2 class="organio__text">Orange</h2>
        <p class="organio__plant">Plant</p>
        <picture>  <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                <div class="organio__btn">
        <button  class="organio__uah">60 UAH / kg</button>
        </div>
    </li>
    <!-- 9 -->
    <li class="organio__item">
        <h2 class="organio__text">Kiwi</h2>
        <p class="organio__plant">Plant</p>
        <picture>  <source srcset=""
                media="(min-width: 1200px)">
              <source srcset=""
                media="(min-width: 768px)">
              <source srcset=""
                media="(max-width: 767px)">
                  <img
                  src=""
                  class="order__img"
                  width="260"
                  alt=""
                /></picture>
                <div class="organio__btn">
        <button class="organio__uah">90 UAH / kg</button>
        </div>
    </li>
</ul>
<button>oRDER</button>
    </div>
   </section>